/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #eeee;

}


.wrapper{
    width: 430px;
    background-color: #ddd;
    border-radius: 10px;

}

.wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}

.wrapper .content{
    margin: 25px 25px 35px;
}
.content .typing-input{
    opacity: 0;
    z-index: -999;
    position:absolute;
}
.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    color: black;
    font-weight: 500;
    text-align: center;
    background: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid #b5b5b5;
}

.inputs input:first-child {
    margin-left: 0;
}

.content .details {
    margin: 20px 0 25px;

}

.details p{
    font-size: 19px;
    margin-bottom: 10px;
}

.content .reset-btn{
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    color: black;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 5px;
}