<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Generator</title>
    <link rel="stylesheet" href="../static/games/memegenerator.css">
   
</head>
<body>
  <header class="part1">
    <form action="" id="form">
        <h1>Meme Generator!</h1>
     <label for="url">Img URL:</label>
    <input type="url" id="url" name="url" placeholder="What's the URL for your meme img?"
    ><br><br>
    <label for="text">Text on Top:</label>
    <input type="text" id="textTop" name="textTop" placeholder=" What text do you want at the top of the meme?"
    ><br><br>
    <label for="">Text on Bottom:</label>
    <input type="text" id="textBottom" name="textBottom" placeholder=" What text do you want at the bottom of the meme?">
    <br><br>
    <input type="submit" id="submit">
     </form> 
  </header>
   

 <section class="part2">
    <div class="meme-container"></div>

  
 </section>


    <script src="../static/games/memegenerator.js"></script>
</body>
</html>